<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Persona</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/listpersona">
        <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/addpersona">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
</mat-toolbar>