<nav class="center">
  <table mat-table [dataSource]="personas" class="mat-elevation-z8">
    <ng-container matColumnDef="ID_PERSONA">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let persona"> {{persona.ID_PERSONA}} </td>
    </ng-container>

    <ng-container matColumnDef="NOMBRES">
      <th mat-header-cell *matHeaderCellDef>Nombres</th>
      <td mat-cell *matCellDef="let persona"> {{persona.NOMBRES}} </td>
    </ng-container>

    <ng-container matColumnDef="APELLIDOS">
      <th mat-header-cell *matHeaderCellDef>Apellidos</th>
      <td mat-cell *matCellDef="let persona"> {{persona.APELLIDOS}} </td>
    </ng-container>
    <ng-container matColumnDef="SEXO">
      <th mat-header-cell *matHeaderCellDef>Sexo</th>
      <td mat-cell *matCellDef="let persona"> {{persona.SEXO}} </td>
    </ng-container>

    <ng-container matColumnDef="N_DOC">
      <th mat-header-cell *matHeaderCellDef>Numero de documento</th>
      <td mat-cell *matCellDef="let persona"> {{persona.N_DOC}} </td>
    </ng-container>

    <ng-container matColumnDef="ID_TIPO_DOC">
      <th mat-header-cell *matHeaderCellDef>Tipo Documento</th>
      <td mat-cell *matCellDef="let persona"> {{persona.ID_TIPO_DOC}} </td>
    </ng-container>

    <ng-container matColumnDef="EDITAR">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let persona">
        <a mat-icon-button [routerLink]="['/editpersona', persona.ID_PERSONA]">
          <mat-icon color="primary">edit</mat-icon>
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="ELIMINAR">
      <th mat-header-cell *matHeaderCellDef>Eliminar</th>
      <td mat-cell *matCellDef="let persona">
        <button (click)="delPersona(persona.ID_PERSONA)" mat-icon-button>
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['ID_PERSONA', 'NOMBRES', 'APELLIDOS', 'SEXO','N_DOC','ID_TIPO_DOC','EDITAR', 'ELIMINAR']"></tr>
    <tr mat-row *matRowDef="let fila; columns: ['ID_PERSONA', 'NOMBRES', 'APELLIDOS', 'SEXO','N_DOC','ID_TIPO_DOC','EDITAR', 'ELIMINAR'];"></tr>
  </table>
</nav>